Repository 3lvia/designsystem, pull requests merged in 2024-06, with the labels that each got.

#2909 Lego 3539 erstatte diverse ceg inline styles med e flex e gap 16 OSV
  packages/web/src/app/doc-pages/components/button-doc/button-doc.component.html
  packages/web/src/app/doc-pages/components/button-doc/button-size-ceg/button-size-ceg.component.html
  packages/web/src/app/doc-pages/components/button-doc/button-type-danger-ceg/button-type-danger-ceg.component.html
  packages/web/src/app/doc-pages/components/button-doc/button-type-icon-ceg/button-type-icon-ceg.component.html
  packages/web/src/app/doc-pages/components/button-doc/button-type-icon-circled-ceg/button-type-icon-circled-ceg.component.html
  packages/web/src/app/doc-pages/components/button-doc/button-type-primary-ceg/button-type-primary-ceg.component.html
  packages/web/src/app/doc-pages/components/button-doc/button-type-secondary-ceg/button-type-secondary-ceg.component.html
  packages/web/src/app/doc-pages/components/button-doc/button-type-tertiary-ceg/button-type-tertiary-ceg.component.html
  packages/web/src/app/doc-pages/components/content-loader-doc/content-loader-ceg/content-loader-ceg.component.html
  packages/web/src/app/doc-pages/components/content-loader-doc/content-loader-doc.component.html
  packages/web/src/app/doc-pages/components/content-loader-doc/content-loader-text-ceg/content-loader-text-ceg.component.html
  packages/web/src/app/shared/component-documentation/ceg/static-ceg/static-ceg.component.html
  packages/web/src/app/shared/component-documentation/ceg/static-ceg/static-ceg.component.scss
  packages/web/src/app/shared/component-documentation/ceg/static-ceg/static-ceg.component.ts
Labels: design.elvia.io

#2912 chore(web): remove use of e-w-100
  packages/web/src/app/doc-pages/brand/icon-doc/icon-colors-ceg/icon-colors-ceg.component.html
  packages/web/src/app/doc-pages/brand/icon-doc/icon-doc.component.html
  packages/web/src/app/doc-pages/brand/layout-doc/layout-alignment-ceg/layout-alignment-ceg.component.html
  packages/web/src/app/doc-pages/brand/layout-doc/layout-breakpoints-ceg/layout-breakpoints-ceg.component.html
  packages/web/src/app/doc-pages/brand/layout-doc/layout-doc.component.html
  packages/web/src/app/doc-pages/brand/layout-doc/layout-gutters-ceg/layout-gutters-ceg.component.html
  packages/web/src/app/doc-pages/brand/layout-doc/layout-gutters-custom-ceg/layout-gutters-custom-ceg.component.html
  packages/web/src/app/doc-pages/brand/layout-doc/layout-gutters-no-ceg/layout-gutters-no-ceg.component.html
  packages/web/src/app/doc-pages/brand/layout-doc/layout-levels-ceg/layout-levels-ceg.component.html
  packages/web/src/app/doc-pages/brand/layout-doc/layout-ordering-ceg/layout-ordering-ceg.component.html
  packages/web/src/app/doc-pages/components/alert-messages/alert-global-expandable-ceg/alert-global-expandable-ceg.component.html
  packages/web/src/app/doc-pages/components/alert-messages/alert-messages.component.html
  packages/web/src/app/doc-pages/components/context-menu-doc/context-menu-doc.component.html
  packages/web/src/app/doc-pages/components/forms/search-doc/search-doc.component.html
  packages/web/src/app/doc-pages/components/forms/search-doc/search-fullwidth-ceg/search-fullwidth-ceg.component.html
  packages/web/src/app/doc-pages/components/forms/search-doc/search-size-medium-ceg/search-size-medium-ceg.component.html
  packages/web/src/app/doc-pages/components/forms/search-doc/search-size-small-ceg/search-size-small-ceg.component.html
  packages/web/src/app/doc-pages/components/popover-doc/popover-doc.component.html
  packages/web/src/app/doc-pages/components/table-doc/table-doc.component.html
  packages/web/src/app/doc-pages/components/table-doc/table-footnote-ceg/table-footnote-ceg.component.html
  packages/web/src/app/doc-pages/components/table-doc/table-validation-row-ceg/table-validation-row-ceg.component.html
  packages/web/src/app/shared/do-dont-text/do-dont-text.component.html
  packages/web/src/app/shell/header/mobile-menu/mobile-menu.component.html
  packages/web/src/app/shell/header/search-menu/search-menu.component.html
Labels: design.elvia.io

#2922 Lego 3506 global alert
  packages/elvis-colors/gulpfile.ts
  packages/elvis/CHANGELOG.json
  packages/elvis/package.json
  packages/elvis/percy/components/alert.html
  packages/elvis/src/components/alert.scss
  packages/elvis/src/components/button/secondary.scss
  packages/web/src/app/dev/v2-playground/v2-playground.component.html
  packages/web/src/app/doc-pages/components/alert-messages/alert-global-expandable-ceg/alert-global-expandable-ceg.component.html
  packages/web/src/app/doc-pages/components/alert-messages/alert-global-expandable-ceg/alert-global-expandable-ceg.component.ts
  packages/web/src/app/doc-pages/components/alert-messages/alert-messages.component.html
  packages/web/src/app/doc-pages/components/alert-messages/alert-messages.component.ts
  packages/web/src/assets/alert/global-mobile.svg
  packages/web/src/assets/alert/global.svg
  packages/web/src/assets/alert/local-mobile.svg
  packages/web/src/assets/alert/local.svg
Labels: design.elvia.io, elvis, tokens

#2910 Lego 3538 checkbox feil i ceg
  packages/web/src/app/doc-pages/components/forms/checkbox-doc/checkbox-ceg/checkbox-ceg.component.html
  packages/web/src/app/doc-pages/components/forms/checkbox-doc/checkbox-size-ceg/checkbox-size-ceg.component.html
  packages/web/src/app/doc-pages/components/forms/checkbox-doc/checkbox-states-ceg/checkbox-states-ceg.component.html
Labels: design.elvia.io

#2929 chore(accordion): remove dead outline listener
  packages/components/components/elvis-accordion/src/react/elvia-accordion.tsx
Labels: components

#2917 feat(elvis): add optional css reset
  packages/elvis/CHANGELOG.json
  packages/elvis/css/css-reset.css
  packages/elvis/tasks/styles.mjs
  packages/web/src/app/doc-pages/about/get-started-doc/get-started-doc.component.ts
  packages/web/src/app/doc-pages/components/css-library-doc/css-library-doc.component.html
  packages/web/src/app/doc-pages/components/css-library-doc/css-library-doc.component.ts
Labels: design.elvia.io, elvis

#2911 Lego 3497 elvis vurdere a bruke focus visible
  packages/components/components/elvis-radio-filter/CHANGELOG.json
  packages/components/components/elvis-radio-filter/package.json
  packages/components/components/elvis-radio-filter/src/react/styledComponents.tsx
  packages/elvis/.internal/classlist.json
  packages/elvis/CHANGELOG.json
  packages/elvis/src/components/_main.scss
  packages/elvis/src/components/body.scss
  packages/elvis/src/components/button/button-helpers.scss
  packages/elvis/src/components/form/checkbox.scss
  packages/elvis/src/components/form/input.scss
  packages/elvis/src/components/form/radiobutton.scss
  packages/elvis/src/components/form/toggle.scss
  packages/elvis/src/components/link.scss
  packages/elvis/src/components/outline.scss
  packages/elvis/src/templates/elvis.template.js
  packages/elvis/src/utilities/outline.scss
  packages/web/src/app/app.component.html
  packages/web/src/app/core/services/cms/cms-transform.service.ts
  packages/web/src/app/home/home.component.html
  packages/web/src/app/home/home.component.scss
  packages/web/src/app/shared/navbar/desktop-navbar/desktop-navbar.component.scss
Labels: design.elvia.io, components, elvis

#2930 chore(deps): add missing peerDependencies
  packages/components/components/elvis-badge/CHANGELOG.json
  packages/components/components/elvis-badge/package.json
  packages/components/components/elvis-icon/CHANGELOG.json
  packages/components/components/elvis-icon/package.json
  packages/react-test/package.json
  packages/web/package.json
  yarn.lock
Labels: dependencies, design.elvia.io, components

#2899 Lego 3489 oppdatere typografi
  packages/elvis-typography/CHANGELOG.md
  packages/elvis-typography/package.json
  packages/elvis-typography/src/elviaTypography.ts
  packages/elvis/CHANGELOG.json
  packages/elvis/package.json
  packages/elvis/src/components/table.scss
  packages/web/src/app/doc-pages/brand/typography-doc/typography-example-exhibit/typographies.ts
  yarn.lock
Labels: dependencies, design.elvia.io, elvis, tokens

#2928 Lego 3558 ny illustrasjon
  packages/elvis-illustrations/CHANGELOG.json
  packages/elvis-illustrations/package.json
  packages/elvis-illustrations/src/illustrations/power-meter.svg
  packages/web/src/app/app.component.ts
  packages/web/src/app/doc-pages/brand/illustrations-doc/illustrations-doc.component.html
  packages/web/src/app/doc-pages/brand/illustrations-doc/illustrations-exhibit/illustrations-exhibit-data.ts
  yarn.lock
Labels: dependencies, design.elvia.io, tokens

#2942 docs(tag): update tag color example, add data color example
  packages/web/src/app/doc-pages/components/tag-doc/tag-colored-ceg/tag-colored-ceg.component.html
  packages/web/src/app/doc-pages/components/tag-doc/tag-colored-ceg/tag-colored-ceg.component.ts
  packages/web/src/app/doc-pages/components/tag-doc/tag-data-colored-ceg/tag-data-colored-ceg.component.html
  packages/web/src/app/doc-pages/components/tag-doc/tag-data-colored-ceg/tag-data-colored-ceg.component.ts
  packages/web/src/app/doc-pages/components/tag-doc/tag-doc.component.html
  packages/web/src/app/doc-pages/components/tag-doc/tag-doc.component.ts
  packages/web/src/app/doc-pages/components/tag-doc/tag-signal-colored-ceg/tag-signal-colored-ceg.component.html
  packages/web/src/app/doc-pages/components/tag-doc/tag-signal-colored-ceg/tag-signal-colored-ceg.component.ts
Labels: design.elvia.io

#2947 fix(deps): update socks to fix dependabot alert
  yarn.lock
Labels: dependencies

#2946 docs: fix minor ceg issues
  packages/web/src/app/doc-pages/components/forms/input-doc/input-options-nolabel-ceg/input-options-nolabel-ceg.component.html
  packages/web/src/app/doc-pages/components/forms/radiobutton-doc/radiobutton-ceg/radiobutton-ceg.component.html
  packages/web/src/app/doc-pages/components/table-doc/table-checkbox-desktop-ceg/table-checkbox-desktop-ceg.component.html
  packages/web/src/app/doc-pages/components/table-doc/table-checkbox-mobile-ceg/table-checkbox-mobile-ceg.component.html
Labels: design.elvia.io

#2900 chore: fix toolbox form field extentions
  packages/components/components/elvis-datepicker/CHANGELOG.json
  packages/components/components/elvis-datepicker/package.json
  packages/components/components/elvis-datepicker/src/react/datepickerInput.tsx
  packages/components/components/elvis-datepicker/src/react/elvia-datepicker.tsx
  packages/components/components/elvis-datepicker/src/react/styledComponents.tsx
  packages/components/components/elvis-dropdown/CHANGELOG.json
  packages/components/components/elvis-dropdown/package.json
  packages/components/components/elvis-dropdown/src/react/dropdown-input/dropdownInput.tsx
  packages/components/components/elvis-dropdown/src/react/dropdown-input/dropdownInputStyles.tsx
  packages/components/components/elvis-dropdown/src/react/dropdown-item/dropdownItemStyles.tsx
  packages/components/components/elvis-dropdown/src/react/elvia-dropdown.tsx
  packages/components/components/elvis-dropdown/src/react/styledComponents.tsx
  packages/components/components/elvis-timepicker/CHANGELOG.json
  packages/components/components/elvis-timepicker/package.json
  packages/components/components/elvis-timepicker/src/react/styledComponents.tsx
  packages/components/components/elvis-timepicker/src/react/timepickerInput.tsx
  packages/components/components/elvis-toolbox/CHANGELOG.json
  packages/components/components/elvis-toolbox/package.json
  packages/components/components/elvis-toolbox/src/components/form-field/formFieldStyles.tsx
  yarn.lock
Labels: dependencies, components

#2954 Lego 3562 input outline pa klikk
  packages/elvis/CHANGELOG.json
  packages/elvis/src/components/outline.scss
Labels: elvis

#2950 feat(assets-icons): new icons and update check-bold
  packages/elvis-assets-icons/CHANGELOG.md
  packages/elvis-assets-icons/config/icons.config.js
  packages/elvis-assets-icons/icons/svg/src/ask_help.svg
  packages/elvis-assets-icons/icons/svg/src/ask_information.svg
  packages/elvis-assets-icons/icons/svg/src/check-bold.svg
  packages/elvis-assets-icons/icons/svg/src/hierarchy-color.svg
  packages/elvis-assets-icons/icons/svg/src/hierarchy.svg
  packages/elvis-assets-icons/icons/svg/src/more_menu-filled.svg
  packages/elvis-assets-icons/icons/svg/src/user_testing.svg
  packages/elvis-assets-icons/icons/svg/src/web.svg
  packages/elvis-assets-icons/package.json
  packages/elvis/.internal/classlist.json
  packages/elvis/CHANGELOG.json
  packages/elvis/package.json
Labels: elvis, tokens

#2951 fix(tag): ensure correct height, some refactoring
  packages/elvis/.internal/classlist.json
  packages/elvis/CHANGELOG.json
  packages/elvis/package.json
  packages/elvis/src/components/tag.scss
Labels: elvis

#2962 fix(deps): update deps to fix dependabot alert
  yarn.lock
Labels: dependencies

#2967 Fix emotion ssr warning
  packages/components/components/elvis-datepicker/CHANGELOG.json
  packages/components/components/elvis-datepicker/src/react/calendar/calendarStyles.tsx
  packages/components/components/elvis-slider/CHANGELOG.json
  packages/components/components/elvis-slider/package.json
  packages/components/components/elvis-slider/src/react/styledComponents.tsx
  packages/web/src/app/dev/v2-playground/v2-playground.component.scss
Labels: design.elvia.io, components

#2969 feat(publishToNpm.yml): rerun tests if failed
  .github/workflows/publishToNpm.yml
Labels: ci/cd

#2943 Lego 3550 badge legge til datafarger pa badges
  packages/components/components/elvis-badge/CHANGELOG.json
  packages/components/components/elvis-badge/package.json
  packages/components/components/elvis-badge/src/react/elvia-badge.module.scss
  packages/components/components/elvis-badge/src/react/elvia-badge.tsx
  packages/components/components/elvis-badge/src/react/elvia-badge.types.tsx
  packages/web/src/app/doc-pages/components/badge-doc/badge-ceg/badge-ceg.component.ts
  packages/web/src/app/doc-pages/components/badge-doc/badge-data.ts
  packages/web/src/app/doc-pages/components/badge-doc/badge-doc.component.html
  packages/web/src/app/doc-pages/components/badge-doc/badge-doc.component.scss
  packages/web/src/app/doc-pages/components/badge-doc/badge-doc.component.ts
  yarn.lock
Labels: dependencies, design.elvia.io, components

#2970 feat(context-menu): support for position override, migrate to floating-ui
  packages/components/components/elvis-context-menu/CHANGELOG.json
  packages/components/components/elvis-context-menu/package.json
  packages/components/components/elvis-context-menu/src/react/ContextMenuContent.tsx
  packages/components/components/elvis-context-menu/src/react/config.ts
  packages/components/components/elvis-context-menu/src/react/contextMenuOverlay.tsx
  packages/components/components/elvis-context-menu/src/react/elvia-context-menu.test.tsx
  packages/components/components/elvis-context-menu/src/react/elvia-context-menu.tsx
  packages/components/components/elvis-context-menu/src/react/elviaContextMenu.types.tsx
  packages/components/components/elvis-context-menu/src/react/mapPosition.ts
  packages/components/components/elvis-context-menu/src/react/styledComponents.tsx
  packages/components/components/elvis-context-menu/src/react/useFocusTrap.ts
  packages/components/components/elvis-popover/CHANGELOG.json
  packages/components/components/elvis-popover/package.json
  packages/components/components/elvis-popover/src/react/elvia-popover.tsx
  packages/web/src/app/dev/v2-playground/v2-playground.component.html
  packages/web/src/app/doc-pages/components/context-menu-doc/context-menu-data.ts
  yarn.lock
Labels: dependencies, design.elvia.io, components

#2975 fix(datepicker-range): make prop isVertical boolean in wrapper config
  packages/components/components/elvis-datepicker-range/CHANGELOG.json
  packages/components/components/elvis-datepicker-range/package.json
  packages/components/components/elvis-datepicker-range/src/react/config.ts
Labels: components

#2976 chore(datepicker): release new version
  packages/components/components/elvis-datepicker/CHANGELOG.json
  packages/components/components/elvis-datepicker/package.json
Labels: components

#2979 feat(header): add Co and Oa, remove Mc from AppDrawer
  packages/components/components/elvis-header/CHANGELOG.json
  packages/components/components/elvis-header/package.json
  packages/components/components/elvis-header/src/react/elviaApps.ts
  yarn.lock
Labels: dependencies, components

#2980 fix(segmented-control): improve background size and position for small screen
  packages/components/components/elvis-segmented-control/CHANGELOG.json
  packages/components/components/elvis-segmented-control/package.json
  packages/components/components/elvis-segmented-control/src/react/elvia-segmented-control.tsx
  packages/components/components/elvis-segmented-control/src/react/elviaSegmentedControl.types.tsx
  packages/components/components/elvis-segmented-control/src/react/styledComponents.tsx
  packages/components/components/elvis-segmented-control/src/react/useSegmentedControlHighlighter.ts
Labels: components

#2984 feat(elvis): support modifier classes on mobile
  packages/elvis/CHANGELOG.json
  packages/elvis/src/components/button/button-helpers.scss
Labels: elvis

#2983 fix(elvis): remove outline from focused text area
  packages/elvis/CHANGELOG.json
  packages/elvis/package.json
  packages/elvis/src/components/outline.scss
Labels: elvis
