Repository 3lvia/designsystem, pull requests merged in 2024-04, with the labels that each got.

#2678 Lego 3435 empty states implementere nytt design
  packages/web/src/app/app-routing.ts
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-class-list/empty-states-class-list.component.html
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-class-list/empty-states-class-list.component.scss
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-class-list/empty-states-class-list.component.ts
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-doc.component.html
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-doc.component.ts
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-full-page-example/empty-states-full-page-example.component.html
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-full-page-example/empty-states-full-page-example.component.scss
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-full-page-example/empty-states-full-page-example.component.ts
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-left-aligned-example/empty-states-left-aligned-example.component.html
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-left-aligned-example/empty-states-left-aligned-example.component.scss
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-left-aligned-example/empty-states-left-aligned-example.component.ts
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-smaller-sections-example-1/empty-states-smaller-sections-example.component-1.html
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-smaller-sections-example-1/empty-states-smaller-sections-example.component-1.scss
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-smaller-sections-example-1/empty-states-smaller-sections-example.component-1.ts
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-smaller-sections-example-2/empty-states-smaller-sections-example-2.component.html
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-smaller-sections-example-2/empty-states-smaller-sections-example-2.component.scss
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-smaller-sections-example-2/empty-states-smaller-sections-example-2.component.ts
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-top-example/empty-states-top-example.component.html
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-top-example/empty-states-top-example.component.scss
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-top-example/empty-states-top-example.component.ts
  packages/web/src/app/doc-pages/patterns/empty-states-doc/example-styles.scss
  packages/web/src/app/doc-pages/patterns/patterns-routing.ts
  packages/web/src/app/shared/doc-pages.ts
Labels: design.elvia.io

#2679 Lego 3444 get started sma oppdateringer pa seksjoner i get started og stilbiblioteket
  packages/web/src/app/doc-pages/about/get-started-doc/get-started-doc.component.html
  packages/web/src/app/doc-pages/brand/illustrations-doc/illustrations-installation/illustrations-installation.component.html
  packages/web/src/app/doc-pages/components/css-library-doc/css-library-doc.component.html
  packages/web/src/app/shared/component-documentation/component-installation/component-installation.component.html
Labels: design.elvia.io

#2686 Lego 3448 stepper callback fra neste knappen
  packages/components/components/elvis-stepper/CHANGELOG.json
  packages/components/components/elvis-stepper/package.json
  packages/components/components/elvis-stepper/src/react/StepContent.tsx
  packages/components/components/elvis-stepper/src/react/elvia-stepper-horizontal.tsx
  packages/components/components/elvis-stepper/src/react/elvia-stepper-vertical.tsx
  packages/components/components/elvis-stepper/src/react/elvia-stepper.test.tsx
  packages/components/components/elvis-stepper/src/react/elvia-stepper.tsx
  packages/components/components/elvis-stepper/src/react/elvia-stepper.types.ts
  packages/web/src/app/dev/v2-playground/v2-playground.component.html
  packages/web/src/app/doc-pages/components/stepper-doc/stepper-data.ts
  yarn.lock
Labels: dependencies, design.elvia.io, components

#2689 chore(empty-state-doc): design tweaks
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-doc.component.html
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-smaller-sections-example-1/empty-states-smaller-sections-example.component-1.html
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-smaller-sections-example-2/empty-states-smaller-sections-example-2.component.html
Labels: design.elvia.io

#2688 fix(datepicker): allow pasting date into input field
  packages/components/components/elvis-datepicker/CHANGELOG.json
  packages/components/components/elvis-datepicker/package.json
  packages/components/components/elvis-datepicker/src/react/datepickerInput.tsx
Labels: components

#2691 Lego 3449 accordion har ikke riktig hoyde nar is open true fra starten av
  packages/components/components/elvis-accordion/CHANGELOG.json
  packages/components/components/elvis-accordion/package.json
  packages/components/components/elvis-accordion/src/react/elvia-accordion.tsx
  packages/react-test/src/App.tsx
  packages/web/src/app/dev/v2-playground/v2-playground.component.html
  yarn.lock
Labels: dependencies, design.elvia.io, components

#2651 feat(web): filter components
  packages/web/src/app/doc-pages/components/components-doc.component.html
  packages/web/src/app/doc-pages/components/components-doc.component.scss
  packages/web/src/app/doc-pages/components/components-doc.component.ts
  packages/web/src/app/doc-pages/components/components-info.ts
  packages/web/src/app/doc-pages/components/components-routing.ts
  packages/web/src/app/doc-pages/components/docPage.pipe.ts
  packages/web/src/app/shell/page-with-sidenav/page-with-sidenav.component.html
Labels: design.elvia.io

#2687 Lego 3438 illustrasjons doc laste ned illustrasjoner i dark theme
  packages/elvis-colors/gulpfile.ts
  packages/elvis-illustrations/CHANGELOG.json
  packages/elvis-illustrations/build/colors.css
  packages/elvis-illustrations/package.json
  packages/elvis-illustrations/src/elvisIllustration.ts
  packages/web/angular.json
  packages/web/src/app/doc-pages/brand/illustrations-doc/illustrations-exhibit/illustrations-exhibit-details/illustrations-exhibit-details.component.html
  packages/web/src/app/doc-pages/brand/illustrations-doc/illustrations-exhibit/illustrations-exhibit-details/illustrations-exhibit-details.component.ts
  packages/web/src/app/doc-pages/brand/illustrations-doc/illustrations-exhibit/illustrations-exhibit-details/imageDownloadUtils.ts
  packages/web/src/typings.d.ts
Labels: design.elvia.io, tokens

#2695 chore(web): remove user questionnaire
  packages/web/src/app/app.component.html
  packages/web/src/app/app.component.ts
  packages/web/src/app/shared/user-questionnaire/user-questionnaire-illustration/user-questionnaire-illustration.component.svg
  packages/web/src/app/shared/user-questionnaire/user-questionnaire-illustration/user-questionnaire-illustration.component.ts
  packages/web/src/app/shared/user-questionnaire/user-questionnaire.component.html
  packages/web/src/app/shared/user-questionnaire/user-questionnaire.component.scss
  packages/web/src/app/shared/user-questionnaire/user-questionnaire.component.ts
  packages/web/src/app/shared/user-questionnaire/user-questionnaire.service.ts
  packages/web/src/index.html
Labels: design.elvia.io

#2696 delete: @elvia/elvis-assets-trademark
  packages/elvis-assets-trademark/.gitignore
  packages/elvis-assets-trademark/LICENSE
  packages/elvis-assets-trademark/README.md
  packages/elvis-assets-trademark/dist/.dist
  packages/elvis-assets-trademark/dist/favicon/default/android-chrome-192x192.png
  packages/elvis-assets-trademark/dist/favicon/default/android-chrome-512x512.png
  packages/elvis-assets-trademark/dist/favicon/default/apple-touch-icon.png
  packages/elvis-assets-trademark/dist/favicon/default/browserconfig.xml
  packages/elvis-assets-trademark/dist/favicon/default/favicon-16x16.png
  packages/elvis-assets-trademark/dist/favicon/default/favicon-32x32.png
  packages/elvis-assets-trademark/dist/favicon/default/favicon.ico
  packages/elvis-assets-trademark/dist/favicon/default/mstile-144x144.png
  packages/elvis-assets-trademark/dist/favicon/default/mstile-150x150.png
  packages/elvis-assets-trademark/dist/favicon/default/mstile-310x150.png
  packages/elvis-assets-trademark/dist/favicon/default/mstile-310x310.png
  packages/elvis-assets-trademark/dist/favicon/default/mstile-70x70.png
  packages/elvis-assets-trademark/dist/favicon/default/safari-pinned-tab.svg
  packages/elvis-assets-trademark/dist/favicon/default/site.webmanifest
  packages/elvis-assets-trademark/dist/favicon/inverted/android-chrome-192x192.png
  packages/elvis-assets-trademark/dist/favicon/inverted/android-chrome-512x512.png
  packages/elvis-assets-trademark/dist/favicon/inverted/apple-touch-icon.png
  packages/elvis-assets-trademark/dist/favicon/inverted/browserconfig.xml
  packages/elvis-assets-trademark/dist/favicon/inverted/favicon-16x16.png
  packages/elvis-assets-trademark/dist/favicon/inverted/favicon-32x32.png
  packages/elvis-assets-trademark/dist/favicon/inverted/favicon.ico
  packages/elvis-assets-trademark/dist/favicon/inverted/mstile-144x144.png
  packages/elvis-assets-trademark/dist/favicon/inverted/mstile-150x150.png
  packages/elvis-assets-trademark/dist/favicon/inverted/mstile-310x150.png
  packages/elvis-assets-trademark/dist/favicon/inverted/mstile-310x310.png
  packages/elvis-assets-trademark/dist/favicon/inverted/mstile-70x70.png
  packages/elvis-assets-trademark/dist/favicon/inverted/site.webmanifest
  packages/elvis-assets-trademark/dist/logo/default/elvia_charge.svg
  packages/elvis-assets-trademark/dist/logo/default/elvia_icon.svg
  packages/elvis-assets-trademark/dist/logo/default/elvia_off.svg
  packages/elvis-assets-trademark/dist/logo/default/elvia_on.svg
  packages/elvis-assets-trademark/dist/logo/inverted/elvia_charge.svg
  packages/elvis-assets-trademark/dist/logo/inverted/elvia_icon.svg
  packages/elvis-assets-trademark/dist/logo/inverted/elvia_off.svg
  packages/elvis-assets-trademark/dist/logo/inverted/elvia_on.svg
  packages/elvis-assets-trademark/package.json
  yarn.lock
Labels: dependencies, tokens

#2700 Lego 3455 legge til percy tester for layout
  packages/elvis/percy/snapshots.js
  packages/elvis/percy/utilities/grid.html
Labels: elvis

#2708 Lego 3460 legge til stotte for tooltip i segmented control icons
  packages/components/components/elvis-segmented-control/CHANGELOG.json
  packages/components/components/elvis-segmented-control/package.json
  packages/components/components/elvis-segmented-control/src/react/elvia-segmented-control.tsx
  packages/components/components/elvis-segmented-control/src/react/elviaSegmentedControl.types.tsx
  packages/web/src/app/doc-pages/components/forms/segmented-controls-doc/segmented-control-ceg/segmented-control-ceg.component.ts
  packages/web/src/app/doc-pages/components/forms/segmented-controls-doc/segmented-controls-data.ts
  packages/web/src/app/shared/local-theme-switch/local-theme-switch.component.html
  yarn.lock
Labels: dependencies, design.elvia.io, components

#2714 chore(tests): update testing library packages
  packages/components/components/elvis-toast/src/react/elvia-toast.test.tsx
  packages/components/package.json
  yarn.lock
Labels: dependencies, components

#2716 fix(elvis): add back the container class from Bootstrap
  packages/elvis/CHANGELOG.json
  packages/elvis/package.json
  packages/elvis/percy/utilities/grid.html
  packages/elvis/src/utilities/_main.scss
  packages/elvis/src/utilities/breakpoints.scss
  packages/elvis/src/utilities/grid-container.scss
  packages/elvis/src/utilities/grid-spacing.scss
  packages/elvis/src/utilities/grid.scss
Labels: elvis

#2443 Lego 1703 testing undersoke percy snapshot testing av komponenter 2
  .eslintignore
  .github/workflows/playwright.yml
  .vscode/extensions.json
  package.json
  packages/components/.gitignore
  packages/components/README.md
  packages/components/components/elvis-accordion/src/react/elvia-accordion.spec.tsx
  packages/components/components/elvis-chip/src/react/elvia-chip.spec.tsx
  packages/components/components/elvis-datepicker/src/react/elvia-datepicker.spec.tsx
  packages/components/jest.config.ts
  packages/components/package.json
  packages/components/playwright-ct.config.ts
  packages/components/playwright/index.html
  packages/components/playwright/index.ts
  renovate.json
  yarn.lock
Labels: dependencies, components, ci/cd

#2729 refactor(percy): consolidate elvis percy workflows
  .github/workflows/percy.yml
  .github/workflows/percyBaselineUpdate.yml
Labels: ci/cd

#2705 refactor(icon-doc): remake icon preview
  packages/web/src/app/doc-pages/brand/exhibit-detail-animation.ts
  packages/web/src/app/doc-pages/brand/icon-doc/icon-doc.component.html
  packages/web/src/app/doc-pages/brand/icon-doc/icon-doc.component.scss
  packages/web/src/app/doc-pages/brand/icon-doc/icon-doc.component.ts
  packages/web/src/app/doc-pages/brand/icon-doc/icon-preview/icon-preview-details/icon-preview-details.component.html
  packages/web/src/app/doc-pages/brand/icon-doc/icon-preview/icon-preview-details/icon-preview-details.component.scss
  packages/web/src/app/doc-pages/brand/icon-doc/icon-preview/icon-preview-details/icon-preview-details.component.ts
  packages/web/src/app/doc-pages/brand/icon-doc/icon-preview/icon-preview-filter/icon-preview-filter.component.html
  packages/web/src/app/doc-pages/brand/icon-doc/icon-preview/icon-preview-filter/icon-preview-filter.component.scss
  packages/web/src/app/doc-pages/brand/icon-doc/icon-preview/icon-preview-filter/icon-preview-filter.component.ts
  packages/web/src/app/doc-pages/brand/icon-doc/icon-preview/icon-preview.component.html
  packages/web/src/app/doc-pages/brand/icon-doc/icon-preview/icon-preview.component.scss
  packages/web/src/app/doc-pages/brand/icon-doc/icon-preview/icon-preview.component.ts
  packages/web/src/app/doc-pages/brand/icon-doc/icon-preview/utils.ts
  packages/web/src/app/doc-pages/brand/icon-doc/icon-search.pipe.ts
  packages/web/src/app/doc-pages/brand/icon-doc/icon.interface.ts
  packages/web/src/app/doc-pages/brand/illustrations-doc/illustrations-exhibit/illustrations-exhibit-details/illustrations-exhibit-details.component.html
  packages/web/src/app/doc-pages/brand/illustrations-doc/illustrations-exhibit/illustrations-exhibit.component.ts
Labels: design.elvia.io

#2732 Make breadcrumbs ssr safe
  packages/components/components/elvis-breadcrumb/CHANGELOG.json
  packages/components/components/elvis-breadcrumb/package.json
  packages/components/components/elvis-breadcrumb/src/react/elvia-breadcrumb.tsx
Labels: components

#2733 chore(playwright.yml): update percy token
  .github/workflows/playwright.yml
Labels: ci/cd

#2739 Lego 3440 autocomplete stotte at dropdownen apnes nar autocomplete far fokus
  packages/components/components/elvis-autocomplete/CHANGELOG.json
  packages/components/components/elvis-autocomplete/package.json
  packages/components/components/elvis-autocomplete/src/react/config.ts
  packages/components/components/elvis-autocomplete/src/react/elvia-autocomplete.test.tsx
  packages/components/components/elvis-autocomplete/src/react/elvia-autocomplete.tsx
  packages/components/components/elvis-autocomplete/src/react/elvia-autocomplete.types.tsx
  packages/components/components/elvis-autocomplete/src/react/utils/filterItems.ts
  packages/web/src/app/doc-pages/components/autocomplete-doc/autocomplete-ceg/autocomplete-ceg.component.ts
  packages/web/src/app/doc-pages/components/autocomplete-doc/autocomplete-data.ts
  yarn.lock
Labels: dependencies, design.elvia.io, components

#2741 feat(stepper): remove max-width but keep width of steps
  packages/components/components/elvis-stepper/CHANGELOG.json
  packages/components/components/elvis-stepper/package.json
  packages/components/components/elvis-stepper/src/react/styledComponents.tsx
Labels: components

#2746 chore(typographies): use relative line-height in typographies
  packages/elvis-typography/CHANGELOG.md
  packages/elvis-typography/package.json
  packages/elvis-typography/src/elviaTypography.ts
  packages/elvis/CHANGELOG.json
  packages/elvis/package.json
  yarn.lock
Labels: dependencies, elvis, tokens

#2750 fix(text-field): remove focus state when readonly
  packages/elvis/CHANGELOG.json
  packages/elvis/package.json
  packages/elvis/src/components/form/input.scss
Labels: elvis

#2754 Lego 3476 header dark theme legger theme pa feil element
  packages/components/components/elvis-header/CHANGELOG.json
  packages/components/components/elvis-header/package.json
  packages/components/components/elvis-header/src/react/themeUtils.ts
  packages/web/src/app/shell/header/header.component.ts
Labels: design.elvia.io, components

#2753 chore(breadcrumb): replace styled-components with @emotion
  packages/components/components/elvis-breadcrumb/CHANGELOG.json
  packages/components/components/elvis-breadcrumb/package.json
  packages/components/components/elvis-breadcrumb/src/react/styledComponents.tsx
  yarn.lock
Labels: dependencies, components

#2756 fix(icon-preview): grid spacing when few results
  packages/web/src/app/doc-pages/brand/icon-doc/icon-preview/icon-preview.component.scss
Labels: design.elvia.io

#2764 feat: add repository field to all published npm packages
  packages/components/components/elvis-accordion/package.json
  packages/components/components/elvis-autocomplete/package.json
  packages/components/components/elvis-badge/package.json
  packages/components/components/elvis-box/package.json
  packages/components/components/elvis-breadcrumb/package.json
  packages/components/components/elvis-card/package.json
  packages/components/components/elvis-carousel/package.json
  packages/components/components/elvis-chip/package.json
  packages/components/components/elvis-component-wrapper/package.json
  packages/components/components/elvis-context-menu/package.json
  packages/components/components/elvis-datepicker-range/package.json
  packages/components/components/elvis-datepicker/package.json
  packages/components/components/elvis-divider/package.json
  packages/components/components/elvis-dropdown/package.json
  packages/components/components/elvis-header/package.json
  packages/components/components/elvis-icon/package.json
  packages/components/components/elvis-modal/package.json
  packages/components/components/elvis-outline/package.json
  packages/components/components/elvis-pagination/package.json
  packages/components/components/elvis-popover/package.json
  packages/components/components/elvis-progress-linear/package.json
  packages/components/components/elvis-radio-filter/package.json
  packages/components/components/elvis-segmented-control/package.json
  packages/components/components/elvis-slider/package.json
  packages/components/components/elvis-spotlight/package.json
  packages/components/components/elvis-stepper/package.json
  packages/components/components/elvis-tabs/package.json
  packages/components/components/elvis-timepicker/package.json
  packages/components/components/elvis-toast/package.json
  packages/components/components/elvis-toolbox/package.json
  packages/components/components/elvis-tooltip/package.json
  packages/elvis-assets-icons/package.json
  packages/elvis-colors/package.json
  packages/elvis-illustrations/package.json
  packages/elvis-typography/package.json
  packages/elvis/package.json
Labels: components, elvis, tokens

#2766 Lego 3487 forkortelse stotte i elvis og popover
  packages/components/components/elvis-popover/CHANGELOG.json
  packages/components/components/elvis-popover/package.json
  packages/components/components/elvis-popover/src/react/config.ts
  packages/components/components/elvis-popover/src/react/elvia-popover.tsx
  packages/components/components/elvis-popover/src/react/elviaPopover.types.tsx
  packages/components/components/elvis-popover/src/react/styledComponents.tsx
  packages/elvis/CHANGELOG.json
  packages/elvis/package.json
  packages/elvis/src/utilities/typography.scss
  packages/web/src/app/dev/v2-playground/v2-playground.component.html
  packages/web/src/app/doc-pages/brand/typography-doc/abbreviation-example-ceg/abbreviation-example-ceg.component.html
  packages/web/src/app/doc-pages/brand/typography-doc/abbreviation-example-ceg/abbreviation-example-ceg.component.ts
  packages/web/src/app/doc-pages/brand/typography-doc/typography-doc.component.html
  packages/web/src/app/doc-pages/brand/typography-doc/typography-doc.component.ts
  packages/web/src/app/doc-pages/components/popover-doc/popover-data.ts
  packages/web/src/app/doc-pages/tools/utilities-doc/utility-groups-data.ts
Labels: design.elvia.io, components, elvis

#2751 refactor(doc-pages): improve doc-pages file
  packages/web/src/app/doc-pages/about/contact/contact.component.ts
  packages/web/src/app/doc-pages/about/get-started-doc/get-started-doc.component.ts
  packages/web/src/app/doc-pages/brand/color-doc/color.component.ts
  packages/web/src/app/doc-pages/brand/icon-doc/icon-doc.component.html
  packages/web/src/app/doc-pages/brand/icon-doc/icon-doc.component.ts
  packages/web/src/app/doc-pages/brand/illustrations-doc/illustrations-doc.component.ts
  packages/web/src/app/doc-pages/brand/layout-doc/layout-doc.component.ts
  packages/web/src/app/doc-pages/brand/shadow-doc/shadow-doc.component.ts
  packages/web/src/app/doc-pages/brand/typography-doc/typography-doc.component.ts
  packages/web/src/app/doc-pages/components/autocomplete-doc/autocomplete-doc.component.ts
  packages/web/src/app/doc-pages/components/components-doc.component.html
  packages/web/src/app/doc-pages/components/css-library-doc/css-library-doc.component.ts
  packages/web/src/app/doc-pages/components/docPage.pipe.ts
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-doc.component.ts
  packages/web/src/app/doc-pages/tools/utilities-doc/utilities-doc.component.ts
  packages/web/src/app/shared/component-documentation/component-documentation.component.ts
  packages/web/src/app/shared/component-documentation/component-related/component-related.component.ts
  packages/web/src/app/shared/doc-pages.ts
  packages/web/src/app/shared/shared.enum.ts
  packages/web/src/app/shared/shared.interface.ts
  packages/web/src/app/shell/header/search-menu/search-menu.component.ts
Labels: design.elvia.io

#2757 Lego 3477 modal focus trappen oppdateres ikke nar man endrer innholdet live
  packages/components/components/elvis-modal/CHANGELOG.json
  packages/components/components/elvis-modal/package.json
  packages/components/components/elvis-toolbox/CHANGELOG.json
  packages/components/components/elvis-toolbox/package.json
  packages/components/components/elvis-toolbox/src/hooks/useFocusTrap.ts
  packages/web/src/app/dev/v2-playground/v2-playground.component.html
  packages/web/src/app/dev/v2-playground/v2-playground.component.ts
  yarn.lock
Labels: dependencies, design.elvia.io, components

#2782 chore(deps): update internal react dependency
  package.json
  packages/components/package.json
  packages/elvis/.internal/classlist.json
  packages/react-test/package.json
  yarn.lock
Labels: dependencies, elvis

#2783 chore(deps): update @testing-library/dom
  packages/components/package.json
  yarn.lock
Labels: dependencies
