Repository 3lvia/designsystem, pull requests merged in 2024-07, with the labels that each got.

#2987 test(datepicker+range): add/update percy tests
  packages/components/components/elvis-datepicker-range/src/react/elvia-datepicker-range.spec.tsx
  packages/components/components/elvis-datepicker/src/react/elvia-datepicker.spec.tsx
Labels: components

#2988 test(breadcrumb, segmented-control, tabs): add percy tests
  packages/components/components/elvis-breadcrumb/src/react/elvia-breadcrumb.spec.tsx
  packages/components/components/elvis-segmented-control/src/react/elvia-segmented-control.spec.tsx
  packages/components/components/elvis-tabs/src/react/elvia-tabs.spec.tsx
Labels: components

#2992 test(card, dropdown, timepicker): add percy tests
  packages/components/components/elvis-card/src/react/elvia-card.spec.tsx
  packages/components/components/elvis-card/src/react/elvia-card.test.tsx
  packages/components/components/elvis-dropdown/src/react/elvia-dropdown.spec.tsx
  packages/components/components/elvis-dropdown/src/react/elvia-dropdown.test.tsx
  packages/components/components/elvis-timepicker/src/react/elvia-timepicker.spec.tsx
Labels: components

#2994 chore(elvis): change CleanCSS config to level 2
  packages/elvis/.internal/classlist.json
  packages/elvis/tasks/styles.mjs
Labels: elvis

#3001 fix(elvis): invalid focus css selectors for checkbox, radiobutton, toggle
  packages/elvis/CHANGELOG.json
  packages/elvis/package.json
  packages/elvis/src/components/form/checkbox.scss
  packages/elvis/src/components/form/radiobutton.scss
  packages/elvis/src/components/form/toggle.scss
Labels: elvis

#3011 chore: mark colors as sideeffect-free, toolbox as ESM
  packages/components/components/elvis-toolbox/CHANGELOG.json
  packages/components/components/elvis-toolbox/package.json
  packages/elvis-colors/CHANGELOG.md
  packages/elvis-colors/package.json
Labels: components, tokens

#3012 Lego 3570 popover trigger container setter alle div er innenfor til display flex
  packages/components/components/elvis-popover/CHANGELOG.json
  packages/components/components/elvis-popover/package.json
  packages/components/components/elvis-popover/src/react/styledComponents.tsx
Labels: components

#3013 fix(ceg): slot toggle in mobile view
  packages/web/src/app/shared/component-documentation/ceg/ceg.component.html
  packages/web/src/app/shared/component-documentation/ceg/controls-popover/controls-popover.component.html
  packages/web/src/app/shared/component-documentation/ceg/controls-popover/controls-popover.component.ts
Labels: design.elvia.io

#3022 chore: add aria live to button ceg
  packages/web/src/app/doc-pages/components/button-doc/button-type-primary-ceg/button-type-primary-ceg.component.html
Labels: design.elvia.io

#3032 fix(web): overview page title alignments
  packages/web/src/app/doc-pages/cms/cms-page/cms-page.component.html
  packages/web/src/app/doc-pages/components/components-doc.component.html
Labels: design.elvia.io

#3033 fix(web): front page changelog url for illustrations
  packages/web/src/app/home/front-page-changelog/front-page-changelog.component.html
Labels: design.elvia.io

#3051 test(dropdown): skip flaky test
  packages/components/components/elvis-dropdown/src/react/elvia-dropdown.test.tsx
Labels: components

#3052 chore: remove husky and lint-staged
  README.md
  package.json
  packages/components/README.md
  packages/components/components/elvis-header/src/react/elviaApps.ts
  packages/elvis/README.md
  packages/web/src/app/doc-pages/brand/illustrations-doc/illustrations-exhibit/illustrations-exhibit-list/illustrations-exhibit-list.component.ts
  renovate.json
  yarn.lock
Labels: dependencies, design.elvia.io, components, elvis

#3050 fix(segmented-control): prevent animation on initial render
  packages/components/components/elvis-segmented-control/CHANGELOG.json
  packages/components/components/elvis-segmented-control/package.json
  packages/components/components/elvis-segmented-control/src/react/elvia-segmented-control.tsx
  packages/components/components/elvis-segmented-control/src/react/elviaSegmentedControl.types.tsx
  packages/components/components/elvis-segmented-control/src/react/styledComponents.tsx
  packages/components/components/elvis-segmented-control/src/react/useDelayedFlag.ts
  packages/components/components/elvis-segmented-control/src/react/useSegmentedControlHighlighter.ts
  yarn.lock
Labels: dependencies, components

#3066 docs(alert): improve type table, fix grammar
  packages/web/src/app/doc-pages/components/alert-messages/alert-messages.component.html
  packages/web/src/app/doc-pages/components/alert-messages/alert-messages.component.ts
  packages/web/src/app/doc-pages/components/toast-doc/toast-doc.component.ts
  packages/web/src/app/doc-pages/components/tooltip-doc/tooltip-doc.component.ts
Labels: design.elvia.io

#3076 Lego 3258: make elvis deprecation check its own script file
  .eslintignore
  .gitignore
  .prettierignore
  packages/elvis/CHANGELOG.json
  packages/elvis/gulpfile.mjs
  packages/elvis/package.json
  packages/elvis/src/templates/checkDeprecations.template.js
  packages/elvis/src/templates/elvis.template.js
  packages/elvis/src/templates/icons.template.js
  packages/elvis/tasks/classlist.mjs
  packages/web/angular.json
  packages/web/src/app/doc-pages/components/css-library-doc/css-library-doc.component.html
  packages/web/src/app/doc-pages/components/css-library-doc/css-library-doc.component.ts
  packages/web/src/main.ts
Labels: design.elvia.io, elvis

#3077 Lego 3532 table elvis fungerer ikke med table inni en annen table
  packages/elvis/.internal/classlist.json
  packages/elvis/CHANGELOG.json
  packages/elvis/package.json
  packages/elvis/percy/components/table.html
  packages/elvis/src/components/table.scss
  packages/web/src/app/dev/v2-playground/v2-playground.component.html
Labels: design.elvia.io, elvis

#3079 fix(web): back button link
  packages/web/src/app/shell/page-with-sidenav/page-with-sidenav.component.html
Labels: design.elvia.io

#3084 refactor(layout): Refactor layout page
  packages/web/src/app/doc-pages/brand/layout-doc/layout-doc.component.html
  packages/web/src/app/doc-pages/brand/layout-doc/layout-doc.component.scss
  packages/web/src/app/doc-pages/brand/layout-doc/layout-doc.component.ts
  packages/web/src/assets/grid/externalDesktopGrid.svg
  packages/web/src/assets/grid/externalMobileGrid.svg
  packages/web/src/assets/grid/externalTabletGrid.svg
  packages/web/src/assets/grid/internalDesktopGrid.svg
  packages/web/src/assets/grid/internalMobileGrid.svg
  packages/web/src/assets/grid/internalTabletGrid.svg
  packages/web/src/assets/grid/standardLayout.svg
Labels: design.elvia.io

#3088 feat(typography): Font-size, letter-spacing, px -> rem
  packages/elvis-typography/CHANGELOG.md
  packages/elvis-typography/package.json
  packages/elvis-typography/src/elviaTypography.ts
  packages/elvis/CHANGELOG.json
  packages/elvis/package.json
  yarn.lock
Labels: dependencies, elvis, tokens

#3080 Lego 3511 get started
  packages/web/src/app/doc-pages/about/about-routing.ts
  packages/web/src/app/doc-pages/about/get-started-doc/get-started-doc.component.html
  packages/web/src/app/doc-pages/about/get-started-doc/get-started-doc.component.scss
  packages/web/src/app/doc-pages/about/tutorial/angular-tutorial/angular-tutorial.component.html
  packages/web/src/app/doc-pages/about/tutorial/angular-tutorial/angular-tutorial.component.ts
  packages/web/src/app/doc-pages/about/tutorial/blazor-tutorial/blazor-tutorial.component.html
  packages/web/src/app/doc-pages/about/tutorial/blazor-tutorial/blazor-tutorial.component.ts
  packages/web/src/app/doc-pages/about/tutorial/react-tutorial/react-tutorial.component.html
  packages/web/src/app/doc-pages/about/tutorial/react-tutorial/react-tutorial.component.ts
  packages/web/src/app/doc-pages/about/tutorial/tutorial.component.html
  packages/web/src/app/doc-pages/about/tutorial/tutorial.component.scss
  packages/web/src/app/doc-pages/about/tutorial/tutorial.component.ts
  packages/web/src/app/doc-pages/about/tutorial/vue-tutorial/vue-tutorial.component.html
  packages/web/src/app/doc-pages/about/tutorial/vue-tutorial/vue-tutorial.component.ts
  packages/web/src/app/doc-pages/brand/color-doc/color.component.html
  packages/web/src/app/doc-pages/brand/layout-doc/layout-doc.component.html
  packages/web/src/app/doc-pages/brand/typography-doc/typography-doc.component.html
  packages/web/src/app/doc-pages/components/css-library-doc/css-library-doc.component.html
  packages/web/src/app/doc-pages/components/link-doc/link-doc.component.html
  packages/web/src/app/doc-pages/components/popover-doc/popover-doc.component.html
  packages/web/src/app/shared/component-documentation/ceg/code-generator/code-viewer/code-viewer.component.html
  packages/web/src/app/shared/component-documentation/ceg/code-generator/code-viewer/code-viewer.component.scss
  packages/web/src/app/shared/component-documentation/ceg/code-generator/code-viewer/code-viewer.component.ts
  packages/web/src/app/shared/component-documentation/ceg/code-generator/formatCode.pipe.ts
  packages/web/src/app/shared/component-documentation/ceg/code-generator/highlighter.pipe.ts
  packages/web/src/app/shared/component-documentation/ceg/code-generator/types.ts
  packages/web/src/app/shared/component-documentation/component-properties-table/property-example-popover/property-example-popover.component.html
  packages/web/src/app/shared/component-documentation/types.ts
  packages/web/src/app/shared/doc-pages.ts
  packages/web/src/app/shared/shared.enum.ts
Labels: design.elvia.io
