Repository 3lvia/designsystem, pull requests merged in 2024-08, with the labels that each got.

#3095 docs(header): added documentation for external header
  packages/web/src/app/doc-pages/components/header-doc/header-doc.component.html
Labels: design.elvia.io

#3094 feat(alert): Added more percy-tests and split them up
  packages/elvis/percy/components/alert.html
  packages/elvis/percy/components/global-alert.html
  packages/elvis/percy/components/local-alert.html
  packages/elvis/percy/snapshots.js
Labels: elvis

#3103 fix(link): color is overridden when applying new typography mixins wi…
  packages/elvis/CHANGELOG.json
  packages/elvis/src/components/link.scss
Labels: elvis

#3099 refactor(alert): rewrite alert
  packages/elvis/.internal/classlist.json
  packages/elvis/.internal/deprecated-classes.json
  packages/elvis/CHANGELOG.json
  packages/elvis/percy/components/global-alert.html
  packages/elvis/percy/components/local-alert.html
  packages/elvis/src/components/alert.scss
  packages/web/src/app/dev/v2-playground/v2-playground.component.html
  packages/web/src/app/doc-pages/about/tutorial/blazor-tutorial/blazor-tutorial.component.html
  packages/web/src/app/doc-pages/brand/color-doc/color-token-table/color-token-table.component.html
  packages/web/src/app/doc-pages/brand/illustrations-doc/illustrations-installation/illustrations-installation.component.html
  packages/web/src/app/doc-pages/components/alert-messages/alert-ceg/alert-ceg.component.html
  packages/web/src/app/doc-pages/components/alert-messages/alert-global-actions-ceg/alert-global-actions-ceg.component.html
  packages/web/src/app/doc-pages/components/alert-messages/alert-global-ceg/alert-global-ceg.component.html
  packages/web/src/app/doc-pages/components/alert-messages/alert-global-closable-ceg/alert-global-closable-ceg.component.html
  packages/web/src/app/doc-pages/components/alert-messages/alert-local-ceg/alert-local-ceg.component.html
  packages/web/src/app/doc-pages/components/alert-messages/alert-local-closable-ceg/alert-local-closable-ceg.component.html
  packages/web/src/app/doc-pages/components/alert-messages/alert-role-alert-ceg/alert-role-alert-ceg.component.html
  packages/web/src/app/doc-pages/components/alert-messages/alert-role-note-ceg/alert-role-note-ceg.component.html
  packages/web/src/app/doc-pages/components/alert-messages/alert-role-status-ceg/alert-role-status-ceg.component.html
  packages/web/src/app/doc-pages/components/autocomplete-doc/autocomplete-doc.component.html
  packages/web/src/app/doc-pages/components/forms/input-doc/input-doc.component.html
Labels: design.elvia.io, elvis

#3112 chore(elvis): disable mixed-decls warnings in scss build
  packages/elvis/tasks/styles.mjs
Labels: elvis

#3113 chore(elvis): set changelog 20.0.0 entry to private
  packages/elvis/CHANGELOG.json
Labels: elvis

#3114 fix(deps): axios dependabot alert
  yarn.lock
Labels: dependencies

#3122 fix(web): warning about @for track
  packages/web/src/app/shell/header/header.component.html
Labels: design.elvia.io

#3121 Depricated e-input--placeholder class
  packages/elvis/.internal/deprecated-classes.json
  packages/elvis/CHANGELOG.json
  packages/elvis/src/components/form/input.scss
Labels: elvis

#3125 Lego 3600 input fjerne loading animation fallback
  packages/elvis/CHANGELOG.json
  packages/elvis/src/components/form/input.scss
  packages/web/src/app/doc-pages/components/forms/input-doc/input-doc.component.html
Labels: design.elvia.io, elvis

#3133 Lego 3603: input - støtte enkelt ikon i inputfeltet
  packages/elvis/CHANGELOG.json
  packages/elvis/percy/components/input.html
  packages/elvis/src/components/form/input.scss
  packages/web/src/app/dev/v2-playground/v2-playground.component.html
Labels: design.elvia.io, elvis

#3134 Update dropdown-data.ts
  packages/web/src/app/doc-pages/components/dropdown-doc/dropdown-data.ts
Labels: design.elvia.io

#3141 fix: all package.json repository URLs
  packages/components/components/elvis-accordion/package.json
  packages/components/components/elvis-autocomplete/package.json
  packages/components/components/elvis-badge/package.json
  packages/components/components/elvis-box/package.json
  packages/components/components/elvis-breadcrumb/package.json
  packages/components/components/elvis-card/package.json
  packages/components/components/elvis-carousel/package.json
  packages/components/components/elvis-chip/package.json
  packages/components/components/elvis-component-wrapper/package.json
  packages/components/components/elvis-context-menu/package.json
  packages/components/components/elvis-datepicker-range/package.json
  packages/components/components/elvis-datepicker/package.json
  packages/components/components/elvis-divider/package.json
  packages/components/components/elvis-dropdown/package.json
  packages/components/components/elvis-header/package.json
  packages/components/components/elvis-icon/package.json
  packages/components/components/elvis-modal/package.json
  packages/components/components/elvis-outline/package.json
  packages/components/components/elvis-pagination/package.json
  packages/components/components/elvis-popover/package.json
  packages/components/components/elvis-progress-linear/package.json
  packages/components/components/elvis-radio-filter/package.json
  packages/components/components/elvis-segmented-control/package.json
  packages/components/components/elvis-slider/package.json
  packages/components/components/elvis-spotlight/package.json
  packages/components/components/elvis-stepper/package.json
  packages/components/components/elvis-tabs/package.json
  packages/components/components/elvis-timepicker/package.json
  packages/components/components/elvis-toast/package.json
  packages/components/components/elvis-toolbox/package.json
  packages/components/components/elvis-tooltip/package.json
  packages/elvis-assets-icons/package.json
  packages/elvis-colors/package.json
  packages/elvis-illustrations/package.json
  packages/elvis-typography/package.json
  packages/elvis/package.json
Labels: components, elvis, tokens

#3144 feat(input): new class e-input---active
  packages/elvis/.internal/classlist.json
  packages/elvis/CHANGELOG.json
  packages/elvis/percy/components/input.html
  packages/elvis/src/components/form/input.scss
Labels: elvis

#3146 chore(elvis): release 20.0.0, clean changelog
  packages/elvis/CHANGELOG.json
  packages/elvis/package.json
Labels: elvis

#3147 chore(web): remove old elvis-icon uses
  packages/web/src/app/dev/v2-playground/v2-playground.component.html
  packages/web/src/app/doc-pages/components/context-menu-doc/context-menu-icons-ceg/context-menu-icons-ceg.component.html
  packages/web/src/app/doc-pages/components/context-menu-doc/context-menu-selectable-ceg/context-menu-selectable-ceg.component.html
Labels: design.elvia.io

#3148 chore(assets-icons): mark package as side-effect free
  packages/elvis-assets-icons/CHANGELOG.md
  packages/elvis-assets-icons/package.json
Labels: tokens

#3160 LEOG-3614 datepicker range: rar padding nar man fokuserer datepicker inputs
  packages/components/components/elvis-datepicker-range/package.json
  packages/components/components/elvis-toolbox/CHANGELOG.json
  packages/components/components/elvis-toolbox/package.json
  packages/components/components/elvis-toolbox/src/components/form-field/formFieldStyles.tsx
  yarn.lock
Labels: dependencies, components

#3156 LEGO-3612 date picker range error nar min date er satt til navaerende tid og has timepickers er true
  packages/components/components/elvis-datepicker-range/CHANGELOG.json
  packages/components/components/elvis-datepicker-range/package.json
  packages/components/components/elvis-datepicker/CHANGELOG.json
  packages/components/components/elvis-datepicker/package.json
  packages/components/components/elvis-datepicker/src/react/elvia-datepicker.tsx
  packages/web/src/app/dev/v2-playground/v2-playground.component.html
  packages/web/src/app/dev/v2-playground/v2-playground.component.ts
  yarn.lock
Labels: dependencies, design.elvia.io, components

#3130 feat(icons): new icon component
  package.json
  packages/components/components/elvis-context-menu/CHANGELOG.json
  packages/components/components/elvis-context-menu/package.json
  packages/components/components/elvis-context-menu/src/react/styledComponents.tsx
  packages/components/components/elvis-dropdown/CHANGELOG.json
  packages/components/components/elvis-dropdown/package.json
  packages/components/components/elvis-dropdown/src/react/dropdown-input/dropdownInput.tsx
  packages/components/components/elvis-dropdown/src/react/dropdown-overlay/dropdownOverlay.tsx
  packages/components/components/elvis-header/CHANGELOG.json
  packages/components/components/elvis-header/package.json
  packages/components/components/elvis-header/src/react/sideNav/publicStyles.tsx
  packages/components/components/elvis-radio-filter/CHANGELOG.json
  packages/components/components/elvis-radio-filter/package.json
  packages/components/components/elvis-radio-filter/src/react/RadioFilterItem.tsx
  packages/components/components/elvis-segmented-control/CHANGELOG.json
  packages/components/components/elvis-segmented-control/package.json
  packages/components/components/elvis-segmented-control/src/react/elvia-segmented-control.tsx
  packages/components/components/elvis-toast/CHANGELOG.json
  packages/components/components/elvis-toast/package.json
  packages/components/components/elvis-toast/src/react/toastIcon.tsx
  packages/elvis-icons/CHANGELOG.json
  packages/elvis-icons/README.md
  packages/elvis-icons/package.json
  packages/elvis-icons/react.ts
  packages/elvis-icons/src/elvis-icon.ts
  packages/elvis-icons/src/index.ts
  packages/elvis-icons/src/store.ts
  packages/elvis/CHANGELOG.json
  packages/elvis/package.json
  packages/elvis/src/components/button/button.scss
  packages/elvis/src/components/button/danger.scss
  packages/elvis/src/components/button/icon.scss
  packages/elvis/src/components/button/secondary.scss
  packages/elvis/src/components/button/tertiary.scss
  packages/elvis/src/components/form/fileupload.scss
  packages/elvis/src/components/form/input.scss
  packages/elvis/src/components/link.scss
  packages/elvis/src/components/list.scss
  packages/elvis/src/components/table.scss
  packages/elvis/src/utilities/icons.scss
  packages/react-test/package.json
  packages/react-test/src/App.tsx
  packages/vue-test/package.json
  packages/vue-test/src/App.vue
  packages/vue-test/src/views/Components.vue
  packages/web/package.json
  packages/web/src/app/dev/v2-playground/v2-playground.component.html
  packages/web/src/app/doc-pages/components/alert-messages/alert-ceg/alert-ceg.component.html
  packages/web/src/app/doc-pages/components/alert-messages/alert-ceg/alert-ceg.component.ts
  packages/web/src/app/doc-pages/components/forms/input-doc/input-validation-ceg/input-validation-ceg.component.html
  packages/web/src/app/doc-pages/components/forms/input-doc/input-validation-ceg/input-validation-ceg.component.ts
  packages/web/src/app/doc-pages/components/header-doc/header-ceg/header-ceg.component.html
  packages/web/src/app/doc-pages/components/header-doc/header-ceg/header-ceg.component.ts
  packages/web/src/icons.ts
  packages/web/src/main.ts
  yarn.lock
Labels: dependencies, design.elvia.io, components, elvis, tokens

#3177 fix(popover): unexpected content slot remounting
  packages/components/components/elvis-popover/CHANGELOG.json
  packages/components/components/elvis-popover/package.json
  packages/components/components/elvis-popover/src/react/elvia-popover.tsx
  yarn.lock
Labels: dependencies, components
