Repository 3lvia/designsystem, pull requests merged in 2024-05, with the labels that each got.

#2794 fix(modal): overflow on mobile
  packages/components/components/elvis-modal/CHANGELOG.json
  packages/components/components/elvis-modal/package.json
  packages/components/components/elvis-modal/src/react/styledComponents.tsx
Labels: components

#2793 Accordion: @emotion, isOpen fix, percy test update
  packages/components/components/elvis-accordion/CHANGELOG.json
  packages/components/components/elvis-accordion/package.json
  packages/components/components/elvis-accordion/src/react/elvia-accordion.spec.tsx
  packages/components/components/elvis-accordion/src/react/elvia-accordion.tsx
  packages/components/components/elvis-accordion/src/react/styledComponents.tsx
  yarn.lock
Labels: dependencies, components

#2815 fix(modal): noPadding prop in web components
  packages/components/components/elvis-modal/CHANGELOG.json
  packages/components/components/elvis-modal/package.json
  packages/components/components/elvis-modal/src/react/config.ts
Labels: components

#2804 chore(popover): migrate to @floating-ui/react, fix mobile positioning
  packages/components/components/elvis-popover/CHANGELOG.json
  packages/components/components/elvis-popover/package.json
  packages/components/components/elvis-popover/src/react/elvia-popover.tsx
  packages/components/components/elvis-popover/src/react/mapPosition.ts
  packages/components/components/elvis-popover/src/react/useCloseOnEsc.ts
  packages/components/components/elvis-popover/src/react/useFocusTrap.ts
  yarn.lock
Labels: dependencies, components

#2745 Lego 3442 team symboler legge til ny doc side for team symboler
  packages/web/package.json
  packages/web/src/app/doc-pages/tools/team-symbol-doc/team-symbol-doc.component.html
  packages/web/src/app/doc-pages/tools/team-symbol-doc/team-symbol-doc.component.ts
  packages/web/src/app/doc-pages/tools/team-symbol-doc/team-symbol-generator/safeHtml.pipe.ts
  packages/web/src/app/doc-pages/tools/team-symbol-doc/team-symbol-generator/symbolHelpers.ts
  packages/web/src/app/doc-pages/tools/team-symbol-doc/team-symbol-generator/team-symbol-generator.component.html
  packages/web/src/app/doc-pages/tools/team-symbol-doc/team-symbol-generator/team-symbol-generator.component.scss
  packages/web/src/app/doc-pages/tools/team-symbol-doc/team-symbol-generator/team-symbol-generator.component.ts
  packages/web/src/app/doc-pages/tools/tools-routing.ts
  packages/web/src/app/shared/doc-pages.ts
  packages/web/src/app/shared/shared.enum.ts
  packages/web/src/assets/fonts/RedHatDisplay-Black.ttf
  yarn.lock
Labels: dependencies, design.elvia.io

#2825 refactor(tooltip): use @floating-ui
  packages/components/components/elvis-tooltip/CHANGELOG.json
  packages/components/components/elvis-tooltip/package.json
  packages/components/components/elvis-tooltip/src/react/elvia-tooltip.tsx
  packages/components/components/elvis-tooltip/src/react/mapPosition.ts
  packages/components/components/elvis-tooltip/src/react/styledComponents.tsx
  yarn.lock
Labels: dependencies, components

#2832 chore(elvis): delete deprecated code
  packages/elvis/.internal/classlist.json
  packages/elvis/.internal/deprecated-classes.json
  packages/elvis/CHANGELOG.json
  packages/elvis/package.json
  packages/elvis/percy/snapshots.js
  packages/elvis/percy/tokens/old-colors.html
  packages/elvis/src/components/_main.scss
  packages/elvis/src/components/autocomplete.scss
  packages/elvis/src/components/form/checkbox.scss
  packages/elvis/src/components/form/field.scss
  packages/elvis/src/components/form/input.scss
  packages/elvis/src/components/form/radiobutton.scss
  packages/elvis/src/components/form/search.scss
  packages/elvis/src/components/form/toggle.scss
  packages/elvis/src/components/stepper.scss
  packages/elvis/src/components/table.scss
  packages/elvis/src/utilities/_main.scss
  packages/elvis/src/utilities/old-colors.scss
  packages/elvis/src/utilities/typography.scss
Labels: elvis

#2840 feat(elvis): more e-gap- classes
  packages/elvis/.internal/classlist.json
  packages/elvis/CHANGELOG.json
  packages/elvis/package.json
  packages/elvis/src/utilities/flex.scss
  packages/web/src/app/doc-pages/tools/utilities-doc/utility-groups-data.ts
Labels: design.elvia.io, elvis

#2841 Lego 3509 modal blurry text i text area som overflower inne i en modal
  packages/components/components/elvis-modal/CHANGELOG.json
  packages/components/components/elvis-modal/package.json
  packages/components/components/elvis-modal/src/react/elvia-modal.spec.tsx
  packages/components/components/elvis-modal/src/react/elvia-modal.test.tsx
  packages/components/components/elvis-modal/src/react/elvia-modal.tsx
  packages/components/components/elvis-modal/src/react/styledComponents.tsx
  packages/components/components/elvis-toolbox/CHANGELOG.json
  packages/components/components/elvis-toolbox/package.json
  packages/components/components/elvis-toolbox/src/components/overlay/overlayStyles.ts
  yarn.lock
Labels: dependencies, components

#2846 Lego 3493 input invalid css selector
  packages/elvis/CHANGELOG.json
  packages/elvis/package.json
  packages/elvis/src/components/form/input.scss
Labels: elvis

#2833 Lego 3459 design.elvia.io: laste ned ikoner i dark theme
  packages/elvis-colors/gulpfile.ts
  packages/web/angular.json
  packages/web/src/app/doc-pages/brand/icon-doc/icon-preview/icon-preview-details/icon-preview-details.component.html
  packages/web/src/app/doc-pages/brand/icon-doc/icon-preview/icon-preview-details/icon-preview-details.component.ts
  packages/web/src/app/doc-pages/brand/icon-doc/icon-preview/icon-preview.component.html
  packages/web/src/app/doc-pages/brand/icon-doc/icon-preview/icon-preview.component.ts
  packages/web/src/app/doc-pages/brand/illustrations-doc/illustrations-exhibit/illustrations-exhibit-details/illustrations-exhibit-details.component.html
  packages/web/src/app/doc-pages/brand/illustrations-doc/illustrations-exhibit/illustrations-exhibit-details/illustrations-exhibit-details.component.ts
  packages/web/src/app/doc-pages/brand/illustrations-doc/illustrations-exhibit/illustrations-exhibit-details/imageDownloadUtils.ts
  packages/web/src/app/doc-pages/brand/illustrations-doc/illustrations-exhibit/illustrations-exhibit.component.html
  packages/web/src/app/doc-pages/brand/illustrations-doc/illustrations-exhibit/illustrations-exhibit.component.ts
  packages/web/src/app/doc-pages/brand/imageDownloadUtils.ts
Labels: design.elvia.io, tokens

#2854 fix(web): use rgb in team symbol generator
  packages/web/src/app/doc-pages/tools/team-symbol-doc/team-symbol-generator/symbolHelpers.ts
Labels: design.elvia.io

#2860 chore(web): update to angular@18.0.0
  packages/web/package.json
  packages/web/src/app/doc-pages/brand/illustrations-doc/illustrations-installation/illustrations-installation.component.html
  packages/web/src/app/doc-pages/cms/cms-page/cms-page.component.ts
  packages/web/src/main.ts
  yarn.lock
Labels: dependencies, design.elvia.io

#2866 fix(web): fix xml error when opening team symbol
  packages/web/src/app/doc-pages/tools/team-symbol-doc/team-symbol-generator/symbolHelpers.ts
  packages/web/src/app/doc-pages/tools/team-symbol-doc/team-symbol-generator/team-symbol-generator.component.ts
Labels: design.elvia.io

#2865 feat(build): add @emotion/babel-plugin
  packages/components/build/esbuild-plugin-emotion.ts
  packages/components/build/esbuild.config.ts
  packages/components/package.json
  yarn.lock
Labels: dependencies

#2861 chore(box): migrate to @emotion, fix border radius
  packages/components/components/elvis-box/CHANGELOG.json
  packages/components/components/elvis-box/package.json
  packages/components/components/elvis-box/src/react/styledComponents.tsx
  yarn.lock
Labels: dependencies, components

#2862 chore(carousel): migrate to @emotion
  packages/components/components/elvis-carousel/CHANGELOG.json
  packages/components/components/elvis-carousel/package.json
  packages/components/components/elvis-carousel/src/react/StyledComponents.tsx
  yarn.lock
Labels: dependencies, components

#2863 chore(chip): migrate to @emotion
  packages/components/components/elvis-chip/CHANGELOG.json
  packages/components/components/elvis-chip/package.json
  packages/components/components/elvis-chip/src/react/styledComponents.tsx
  yarn.lock
Labels: dependencies, components

#2867 chore(ci): make publishToNpm workflow cancel in progress run if new trigger
  .github/workflows/publishToNpm.yml
Labels: ci/cd

#2868 chore: migrate toolbox and stepper to @emotion
  packages/components/build/esbuild.config.ts
  packages/components/build/toolbox-build.config.ts
  packages/components/components/elvis-stepper/CHANGELOG.json
  packages/components/components/elvis-stepper/package.json
  packages/components/components/elvis-stepper/src/react/VerticalStepElement.tsx
  packages/components/components/elvis-stepper/src/react/elvia-stepper-horizontal.tsx
  packages/components/components/elvis-stepper/src/react/styledComponents.tsx
  packages/components/components/elvis-toolbox/CHANGELOG.json
  packages/components/components/elvis-toolbox/package.json
  packages/components/components/elvis-toolbox/src/components/backdrop/transparentBackdrop.tsx
  packages/components/components/elvis-toolbox/src/components/button/button.tsx
  packages/components/components/elvis-toolbox/src/components/button/iconButton.tsx
  packages/components/components/elvis-toolbox/src/components/form-field/errorStyles.tsx
  packages/components/components/elvis-toolbox/src/components/form-field/formFieldStyles.tsx
  packages/components/components/elvis-toolbox/src/components/overlay/overlayStyles.ts
  packages/components/components/elvis-toolbox/src/components/tooltip/tooltip.tsx
  packages/components/components/elvis-toolbox/src/components/visually-hidden/visuallyHidden.tsx
  yarn.lock
Labels: dependencies, components

#2873 feat(web): add spacing values to empty state docs
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-class-list/empty-states-class-list.component.html
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-class-list/empty-states-class-list.component.ts
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-doc.component.html
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-full-page-example/empty-states-full-page-example.component.html
  packages/web/src/app/doc-pages/patterns/empty-states-doc/empty-states-full-page-example/empty-states-full-page-example.component.scss
Labels: design.elvia.io

#2869 fix(web): add divider on top and bottom and add margin to accordin group
  packages/web/src/app/doc-pages/components/accordion-doc/accordion-group-ceg/accordion-group-ceg.component.html
Labels: design.elvia.io

#2838 feat(web): refactor color picker and add feature of remembering opaci…
  packages/web/src/app/doc-pages/brand/color-doc/color-picker/color-picker-color-list/color-picker-color-list.component.html
  packages/web/src/app/doc-pages/brand/color-doc/color-picker/color-picker-color-list/color-picker-color-list.component.ts
  packages/web/src/app/doc-pages/brand/color-doc/color-picker/color-picker-exhibit/color-picker-exhibit.component.html
  packages/web/src/app/doc-pages/brand/color-doc/color-picker/color-picker-exhibit/color-picker-exhibit.component.ts
  packages/web/src/app/doc-pages/brand/color-doc/color-picker/color-picker-header/color-picker-header.component.html
  packages/web/src/app/doc-pages/brand/color-doc/color-picker/color-picker-header/color-picker-header.component.ts
  packages/web/src/app/doc-pages/brand/color-doc/color-picker/color-picker.component.html
  packages/web/src/app/doc-pages/brand/color-doc/color-picker/color-picker.component.ts
  packages/web/src/app/doc-pages/brand/color-doc/color-picker/color-picker.service.ts
  packages/web/src/app/doc-pages/brand/color-doc/color-picker/colors-types.ts
  packages/web/src/app/doc-pages/brand/color-doc/color-picker/colors-util.ts
  packages/web/src/app/doc-pages/brand/color-doc/color-picker/needs-border.pipe.ts
Labels: design.elvia.io

#2878 LEGO-3530 Team Symbol Generator – oppdatere med SVG forklaring
  packages/web/src/app/doc-pages/tools/team-symbol-doc/svg-abbreviation-popover/svg-abbreviation-popover.component.html
  packages/web/src/app/doc-pages/tools/team-symbol-doc/svg-abbreviation-popover/svg-abbreviation-popover.component.ts
  packages/web/src/app/doc-pages/tools/team-symbol-doc/team-symbol-generator/team-symbol-generator.component.html
  packages/web/src/app/doc-pages/tools/team-symbol-doc/team-symbol-generator/team-symbol-generator.component.ts
  packages/web/src/app/doc-pages/tools/team-symbol-doc/why-svg-popover/why-svg-popover.component.html
  packages/web/src/app/doc-pages/tools/team-symbol-doc/why-svg-popover/why-svg-popover.component.scss
  packages/web/src/app/doc-pages/tools/team-symbol-doc/why-svg-popover/why-svg-popover.component.ts
Labels: design.elvia.io

#2879 fix(accordion): remove spacing below closed accordion
  packages/components/components/elvis-accordion/CHANGELOG.json
  packages/components/components/elvis-accordion/package.json
  packages/components/components/elvis-accordion/src/react/elvia-accordion.tsx
  packages/components/components/elvis-accordion/src/react/styledComponents.tsx
Labels: components

#2880 fix(modal): fix bug where buttons would add padding when they are rem…
  packages/components/components/elvis-modal/CHANGELOG.json
  packages/components/components/elvis-modal/package.json
  packages/components/components/elvis-modal/src/react/styledComponents.tsx
  packages/web/src/app/dev/v2-playground/v2-playground.component.html
Labels: design.elvia.io, components

#2894 fix(toolbox&header): make ButtonBase forwardRef
  packages/components/components/elvis-header/CHANGELOG.json
  packages/components/components/elvis-header/package.json
  packages/components/components/elvis-toolbox/CHANGELOG.json
  packages/components/components/elvis-toolbox/package.json
  packages/components/components/elvis-toolbox/src/components/button/button.tsx
  yarn.lock
Labels: dependencies, components

#2896 feat(ci:runComponentTests): rerun tests on error
  .github/workflows/runComponentTests.yml
Labels: ci/cd

#2897 fix(ci:runComponentTests)
  .github/workflows/runComponentTests.yml
Labels: ci/cd

#2901 fix(accordion): dont rotate icon in open/close label
  packages/components/components/elvis-accordion/CHANGELOG.json
  packages/components/components/elvis-accordion/package.json
  packages/components/components/elvis-accordion/src/react/elvia-accordion.tsx
  packages/components/components/elvis-accordion/src/react/styledComponents.tsx
Labels: components
