Repository 3lvia/designsystem, pull requests merged in 2024-09, with the labels that each got.

#3182 chore(icon-preview-filter): allow searching camelCase
  packages/web/src/app/doc-pages/brand/icon-doc/icon-preview/icon-preview.component.ts
Labels: design.elvia.io

#3187 Lego 3633 input egen klasse for ikon i input
  packages/elvis/.internal/classlist.json
  packages/elvis/CHANGELOG.json
  packages/elvis/package.json
  packages/elvis/src/components/form/input.scss
  packages/web/src/app/dev/v2-playground/v2-playground.component.html
Labels: design.elvia.io, elvis

#3183 Lego 3622 dokumentere nye e-icon pakken
  packages/web/src/app/doc-pages/brand/icon-doc/icon-colors-ceg/icon-colors-ceg.component.html
  packages/web/src/app/doc-pages/brand/icon-doc/icon-colors-ceg/icon-colors-ceg.component.ts
  packages/web/src/app/doc-pages/brand/icon-doc/icon-data.ts
  packages/web/src/app/doc-pages/brand/icon-doc/icon-doc.component.html
  packages/web/src/app/doc-pages/brand/icon-doc/icon-doc.component.ts
  packages/web/src/app/doc-pages/brand/icon-doc/icon-installation/icon-installation.component.html
  packages/web/src/app/doc-pages/brand/icon-doc/icon-installation/icon-installation.component.ts
  packages/web/src/app/doc-pages/brand/icon-doc/icon-preview/icon-preview-details/icon-preview-details.component.html
  packages/web/src/app/doc-pages/brand/icon-doc/icon-preview/icon-preview-details/icon-preview-details.component.ts
  packages/web/src/app/doc-pages/brand/icon-doc/icon-sizes-ceg/icon-sizes-ceg.component.html
  packages/web/src/app/doc-pages/brand/icon-doc/icon-sizes-ceg/icon-sizes-ceg.component.ts
  packages/web/src/app/doc-pages/components/components-routing.ts
  packages/web/src/app/doc-pages/components/header-doc/header-ceg/header-ceg.component.ts
  packages/web/src/app/home/front-page-changelog/changelogs.ts
  packages/web/src/app/shared/component-documentation/ceg/code-generator/static-code-generator/static-code-generator.component.ts
Labels: design.elvia.io

#3200 fix(web): assorted minor fixes
  packages/components/components/elvis-popover/CHANGELOG.json
  packages/components/components/elvis-progress-linear/CHANGELOG.json
  packages/web/src/app/doc-pages/components/components-doc.component.html
  packages/web/src/app/doc-pages/components/components-doc.component.scss
  packages/web/src/app/shared/component-documentation/component-changelog/component-changelog.component.html
  packages/web/src/app/shared/component-documentation/component-changelog/component-changelog.component.ts
  packages/web/src/app/shared/navbar/desktop-navbar/desktop-navbar.component.html
Labels: design.elvia.io, components

#3202 docs: update README files
  README.md
  packages/components/README.md
  packages/elvis-assets-icons/README.md
  packages/elvis-colors/README.md
  packages/elvis-typography/README.md
Labels: tokens

#3193 Change color inheritance on typography mixins
  packages/elvis-typography/CHANGELOG.md
  packages/elvis-typography/package.json
  packages/elvis-typography/src/elviaTypography.ts
  packages/elvis/CHANGELOG.json
  packages/elvis/src/components/alert.scss
  packages/elvis/src/components/button/button.scss
  packages/elvis/src/components/button/tertiary.scss
  packages/elvis/src/components/form/checkbox.scss
  packages/elvis/src/components/form/field.scss
  packages/elvis/src/components/form/fileupload.scss
  packages/elvis/src/components/form/input.scss
  packages/elvis/src/components/form/radiobutton.scss
  packages/elvis/src/components/form/toggle.scss
  packages/elvis/src/components/link.scss
  packages/elvis/src/components/list.scss
  packages/elvis/src/components/table.scss
  packages/elvis/src/components/tag.scss
  packages/elvis/src/utilities/mixins.scss
  packages/elvis/src/utilities/typography.scss
Labels: elvis, tokens

#3210 Add Projectportal app on header component and change dependencies
  packages/components/components/elvis-header/CHANGELOG.json
  packages/components/components/elvis-header/package.json
  packages/components/components/elvis-header/src/react/elviaApps.ts
  yarn.lock
Labels: dependencies, components

#3207 Lego 3616 app bridge
  packages/components/components/elvis-app-bridge/CHANGELOG.json
  packages/components/components/elvis-app-bridge/README.md
  packages/components/components/elvis-app-bridge/package.json
  packages/components/components/elvis-app-bridge/react.d.ts
  packages/components/components/elvis-app-bridge/react.js
  packages/components/components/elvis-app-bridge/src/react/AppIcon.tsx
  packages/components/components/elvis-app-bridge/src/react/config.ts
  packages/components/components/elvis-app-bridge/src/react/elvia-app-bridge.test.tsx
  packages/components/components/elvis-app-bridge/src/react/elvia-app-bridge.tsx
  packages/components/components/elvis-app-bridge/src/react/elvia-app-bridge.types.ts
  packages/components/components/elvis-app-bridge/src/react/getLinks.ts
  packages/components/components/elvis-app-bridge/src/react/utils.ts
  packages/components/components/elvis-component-wrapper/src/elvia-component.ts
  packages/react-test/package.json
  packages/react-test/src/App.tsx
  packages/web/package.json
  packages/web/src/app/app.component.ts
  packages/web/src/app/dev/v2-playground/v2-playground.component.html
  packages/web/src/app/doc-pages/components/app-bridge-doc/app-bridge-ceg/app-bridge-ceg.component.html
  packages/web/src/app/doc-pages/components/app-bridge-doc/app-bridge-ceg/app-bridge-ceg.component.ts
  packages/web/src/app/doc-pages/components/app-bridge-doc/app-bridge-data.ts
  packages/web/src/app/doc-pages/components/app-bridge-doc/app-bridge-doc.component.html
  packages/web/src/app/doc-pages/components/app-bridge-doc/app-bridge-doc.component.ts
  packages/web/src/app/doc-pages/components/app-bridge-doc/app-bridge-placement/app-bridge-placement.component.svg
  packages/web/src/app/doc-pages/components/app-bridge-doc/app-bridge-placement/app-bridge-placement.component.ts
  packages/web/src/app/doc-pages/components/components-info.ts
  packages/web/src/app/doc-pages/components/components-routing.ts
  packages/web/src/app/home/front-page-changelog/changelogs.ts
  packages/web/src/app/shared/doc-pages.ts
  packages/web/src/app/shared/shared.enum.ts
  yarn.lock
Labels: dependencies, design.elvia.io, components

#3209 Lego 3639 csp nonce funker ikke lengre med emotion
  packages/components/components/elvis-component-wrapper/CHANGELOG.json
  packages/components/components/elvis-component-wrapper/package.json
  packages/components/components/elvis-component-wrapper/src/elvia-component.ts
  packages/components/components/elvis-context-menu/CHANGELOG.json
  packages/components/components/elvis-context-menu/package.json
  packages/components/components/elvis-modal/CHANGELOG.json
  packages/components/components/elvis-modal/package.json
  packages/components/components/elvis-popover/CHANGELOG.json
  packages/components/components/elvis-popover/package.json
  yarn.lock
Labels: dependencies, components

#3216 Lego 3457 Migrer til ESLint v9
  .eslintignore
  .eslintrc.json
  eslint.config.mjs
  package.json
  packages/components/components/elvis-carousel/src/react/elvia-carousel.tsx
  packages/components/components/elvis-datepicker/src/react/yearPicker/yearPicker.tsx
  packages/components/components/elvis-dropdown/src/react/dropdown-overlay/dropdownOverlay.tsx
  packages/components/components/elvis-icon/src/react/elvia-icon.tsx
  packages/components/components/elvis-modal/src/react/elvia-modal.tsx
  packages/components/components/elvis-spotlight/src/react/useLockBodyScroll.tsx
  packages/components/components/elvis-toolbox/src/components/iconWrapper/iconWrapper.types.ts
  packages/components/components/elvis-toolbox/src/hooks/useConnectedOverlay.ts
  packages/components/components/elvis-toolbox/src/hooks/useFocusTrap.ts
  packages/elvis-assets-icons/tasks/icons.ts
  packages/web/.eslintrc.json
  packages/web/eslint.config.js
  packages/web/package.json
  packages/web/src/app/core/services/cms/cms.service.ts
  packages/web/src/app/doc-pages/about/contact/contact.component.ts
  packages/web/src/app/doc-pages/brand/color-doc/color-picker/color-picker-color-list/color-picker-color-list.component.ts
  packages/web/src/app/doc-pages/brand/icon-doc/icon-preview/utils.ts
  packages/web/src/app/doc-pages/brand/imageDownloadUtils.ts
  packages/web/src/app/doc-pages/components/carousel-doc/carousel-data.ts
  packages/web/src/app/doc-pages/components/components-info.ts
  packages/web/src/app/doc-pages/components/forms/datepicker-range-doc/datepicker-range-shortcut-example/datepicker-range-shortcut-example.component.ts
  packages/web/src/app/doc-pages/tools/tools-routing.ts
  packages/web/src/app/home/front-page-changelog/front-page-changelog-date-pipe.ts
  packages/web/src/app/home/front-page-changelog/front-page-changelog-name-pipe.ts
  packages/web/src/app/home/front-page-changelog/front-page-changelog-url-pipe.ts
  packages/web/src/app/shared/component-documentation/ceg/code-generator/code-generator.component.ts
  packages/web/src/app/shared/component-documentation/ceg/code-generator/dynamic-code-generator/dynamic-code-generator.component.ts
  packages/web/src/app/shared/component-documentation/component-documentation-date-pipe.ts
  packages/web/src/app/shared/component-documentation/component-installation/component-installation.component.ts
  packages/web/src/app/shared/doc-pages.ts
  packages/web/src/app/shared/shared.enum.ts
  yarn.lock
Labels: dependencies, design.elvia.io, components, tokens

#3220 test(app-bridge): test that current domain link is hidden
  packages/components/components/elvis-app-bridge/src/react/elvia-app-bridge.test.tsx
  packages/components/components/elvis-segmented-control/src/react/elvia-segmented-control.spec.tsx
Labels: components

#3229 fix(web): missing icon
  packages/web/src/app/core/services/cms/cms-transform.service.ts
  packages/web/src/app/doc-pages/cms/cms-page/cms-page.component.scss
  packages/web/src/app/doc-pages/cms/cms-page/cms-page.component.ts
Labels: design.elvia.io

#3234 Lego 3655 app drawer lenkene blir bla
  packages/components/components/elvis-header/CHANGELOG.json
  packages/components/components/elvis-header/package.json
  packages/components/components/elvis-header/src/react/appList/appListStyles.tsx
Labels: components

#3240 LEGO-3658: Ujevn alignment på colors siden på design.elvia.io
  packages/web/src/app/doc-pages/brand/color-doc/color-token-table/color-token-subtable/color-token-subtable.component.html
  packages/web/src/app/doc-pages/brand/color-doc/color-token-table/color-token-table.component.scss
Labels: design.elvia.io

#3236 LEGO-3662 Chip – legge på type="button" på chips
  packages/components/components/elvis-accordion/CHANGELOG.json
  packages/components/components/elvis-accordion/package.json
  packages/components/components/elvis-accordion/src/react/elvia-accordion.tsx
  packages/components/components/elvis-carousel/CHANGELOG.json
  packages/components/components/elvis-carousel/package.json
  packages/components/components/elvis-carousel/src/react/elvia-carousel.tsx
  packages/components/components/elvis-chip/src/react/elvia-chip.tsx
  packages/components/components/elvis-datepicker/src/react/yearPicker/yearPicker.tsx
  packages/components/components/elvis-header/src/react/themePicker/themePicker.tsx
  packages/components/components/elvis-pagination/CHANGELOG.json
  packages/components/components/elvis-pagination/package.json
  packages/components/components/elvis-pagination/src/react/elvia-pagination.tsx
  packages/components/components/elvis-tabs/CHANGELOG.json
  packages/components/components/elvis-tabs/package.json
  packages/components/components/elvis-tabs/src/react/elvia-tabs.tsx
  packages/components/components/elvis-timepicker/src/react/popup/numberPicker.tsx
Labels: components

#3242 18092024 chip
  packages/components/components/elvis-chip/CHANGELOG.json
  packages/components/components/elvis-chip/package.json
  packages/components/components/elvis-pagination/CHANGELOG.json
Labels: components

#3241 feat(badge): add `isHidden` prop
  packages/components/components/elvis-badge/CHANGELOG.json
  packages/components/components/elvis-badge/package.json
  packages/components/components/elvis-badge/src/react/config.ts
  packages/components/components/elvis-badge/src/react/elvia-badge.module.scss
  packages/components/components/elvis-badge/src/react/elvia-badge.test.tsx
  packages/components/components/elvis-badge/src/react/elvia-badge.tsx
  packages/components/components/elvis-badge/src/react/elvia-badge.types.tsx
  packages/web/src/app/dev/v2-playground/v2-playground.component.html
  packages/web/src/app/dev/v2-playground/v2-playground.component.ts
  packages/web/src/app/doc-pages/components/badge-doc/badge-data.ts
  yarn.lock
Labels: dependencies, design.elvia.io, components

#3246 Lego 3642 komponenter stotte for custom aria labels pa accordion carousel
  packages/components/components/elvis-accordion/CHANGELOG.json
  packages/components/components/elvis-accordion/package.json
  packages/components/components/elvis-accordion/src/react/elvia-accordion.tsx
  packages/components/components/elvis-autocomplete/CHANGELOG.json
  packages/components/components/elvis-autocomplete/package.json
  packages/components/components/elvis-autocomplete/src/react/autocomplete-overlay/autocompleteOverlay.tsx
  packages/components/components/elvis-autocomplete/src/react/elvia-autocomplete.tsx
  packages/components/components/elvis-autocomplete/src/react/error/autocompleteError.tsx
  packages/components/components/elvis-autocomplete/src/react/utils/getInternalErrorText.tsx
  packages/components/components/elvis-autocomplete/src/react/utils/statusMessage.tsx
  packages/components/components/elvis-carousel/CHANGELOG.json
  packages/components/components/elvis-carousel/package.json
  packages/components/components/elvis-carousel/src/react/elvia-carousel.tsx
  packages/components/components/elvis-toast/CHANGELOG.json
  packages/components/components/elvis-toast/package.json
  packages/components/components/elvis-toast/src/react/toastBox.tsx
  packages/web/src/app/dev/v2-playground/v2-playground.component.html
  yarn.lock
Labels: dependencies, design.elvia.io, components

#3250 LEGO-3635: Design.elvia.io - Oppdatere contact siden
  packages/web/src/app/doc-pages/about/contact/contact.component.ts
  packages/web/src/app/shared/doc-pages.ts
  packages/web/src/assets/contact/Erik.png
  packages/web/src/assets/contact/Fride.jpg
  packages/web/src/assets/contact/Hilde.jpg
  packages/web/src/assets/contact/Maja.jpg
  packages/web/src/assets/contact/Trygve.png
Labels: design.elvia.io

#3247 Lego 3661 app bridge ny lenke til salesforce
  packages/components/components/elvis-app-bridge/CHANGELOG.json
  packages/components/components/elvis-app-bridge/package.json
  packages/components/components/elvis-app-bridge/src/react/AppIcon.tsx
  packages/components/components/elvis-app-bridge/src/react/config.ts
  packages/components/components/elvis-app-bridge/src/react/elvia-app-bridge.test.tsx
  packages/components/components/elvis-app-bridge/src/react/elvia-app-bridge.tsx
  packages/components/components/elvis-app-bridge/src/react/elvia-app-bridge.types.ts
  packages/components/components/elvis-app-bridge/src/react/getLinks.ts
  packages/components/components/elvis-app-bridge/src/react/utils.ts
  packages/web/src/app/dev/v2-playground/v2-playground.component.html
  packages/web/src/app/doc-pages/components/app-bridge-doc/app-bridge-data.ts
Labels: design.elvia.io, components

#3265 chore(vue-test): remove plugin-commonjs
  packages/vue-test/package.json
  packages/vue-test/vite.config.ts
  yarn.lock
Labels: dependencies

#3264 chore(toggle): remove ::after element
  packages/elvis/CHANGELOG.json
  packages/elvis/package.json
  packages/elvis/src/components/form/toggle.scss
Labels: elvis

#3251 LEGO-3665: chip disabled legend chip burde ikke fa hover states nar disabled
  packages/components/components/elvis-chip/CHANGELOG.json
  packages/components/components/elvis-chip/package.json
  packages/components/components/elvis-chip/src/react/elvia-chip.tsx
  packages/components/components/elvis-chip/src/react/styledComponents.tsx
  packages/web/src/app/dev/v2-playground/v2-playground.component.html
  packages/web/src/app/doc-pages/components/chip-doc/chip-ceg/chip-ceg.component.ts
  packages/web/src/app/doc-pages/components/chip-doc/chip-doc.component.html
  yarn.lock
Labels: dependencies, design.elvia.io, components

#3267 fix(web): set lang attr when locale changes
  packages/web/src/app/core/services/localization.service.ts
Labels: design.elvia.io

#3266 Lego 3648 komponenter stotte for custom aria labels pa modal popover tabs
  packages/components/components/elvis-modal/CHANGELOG.json
  packages/components/components/elvis-modal/package.json
  packages/components/components/elvis-modal/src/react/elvia-modal.test.tsx
  packages/components/components/elvis-modal/src/react/elvia-modal.tsx
  packages/components/components/elvis-popover/CHANGELOG.json
  packages/components/components/elvis-popover/package.json
  packages/components/components/elvis-popover/src/react/elvia-popover.tsx
  packages/components/components/elvis-tabs/CHANGELOG.json
  packages/components/components/elvis-tabs/package.json
  packages/components/components/elvis-tabs/src/react/elvia-tabs.tsx
  yarn.lock
Labels: dependencies, components

#3274 Lego 3649 komponenter stotte for custom aria labels pa radio filter stepcontent
  packages/components/components/elvis-dropdown/CHANGELOG.json
  packages/components/components/elvis-dropdown/package.json
  packages/components/components/elvis-dropdown/src/react/dropdown-input/dropdownInput.tsx
  packages/components/components/elvis-dropdown/src/react/dropdown-item/dropdownItem.tsx
  packages/components/components/elvis-dropdown/src/react/dropdown-overlay/dropdownOverlay.tsx
  packages/components/components/elvis-dropdown/src/react/elvia-dropdown.test.tsx
  packages/components/components/elvis-dropdown/src/react/elvia-dropdown.tsx
  packages/components/components/elvis-radio-filter/CHANGELOG.json
  packages/components/components/elvis-radio-filter/package.json
  packages/components/components/elvis-radio-filter/src/react/RadioFilterItem.tsx
  packages/components/components/elvis-radio-filter/src/react/elvia-radio-filter.tsx
  packages/components/components/elvis-slider/CHANGELOG.json
  packages/components/components/elvis-slider/package.json
  packages/components/components/elvis-slider/src/react/utils/getAriaLabel.ts
  packages/components/components/elvis-stepper/CHANGELOG.json
  packages/components/components/elvis-stepper/package.json
  packages/components/components/elvis-stepper/src/react/StepContent.tsx
  packages/components/components/elvis-stepper/src/react/elvia-stepper-horizontal.tsx
  packages/components/components/elvis-stepper/src/react/elvia-stepper-vertical.tsx
  packages/components/components/elvis-stepper/src/react/utils.ts
  yarn.lock
Labels: dependencies, components

#3278 More percy tests
  packages/components/components/elvis-app-bridge/src/react/elvia-app-bridge.spec.tsx
  packages/components/components/elvis-badge/src/react/elvia-badge.spec.tsx
  packages/components/components/elvis-box/src/react/elvia-box.spec.tsx
  packages/components/components/elvis-context-menu/src/react/elvia-context-menu.spec.tsx
  packages/components/components/elvis-divider/src/react/elvia-divider.spec.tsx
  packages/components/components/elvis-pagination/src/react/elvia-pagination.spec.tsx
  packages/components/components/elvis-progress-linear/src/react/elvia-progress-linear.spec.tsx
  packages/components/components/elvis-progress-linear/src/react/elvia-progress-linear.test.tsx
  packages/components/components/elvis-radio-filter/src/react/elvia-radio-filter.spec.tsx
  packages/components/components/elvis-stepper/src/react/elvia-stepper.spec.tsx
Labels: components
